.header{
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
}

.myNav{
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: red;
}

.header-anchor{
    display: flex;
}